<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
        <div class="container">
            <a class="navbar-brand" href="../index.html" th:href="@{index}">Football Ultimate Team</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../preparation-match.html" th:href="@{preparation-match}"><strong>JOUER !</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../joueurs.html" th:href="@{joueurs}">Tous les joueurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../achat-pack.html" th:href="@{achat-pack}">Acheter un pack</a>
                    </li>
                    <li class="nav-item" style="color:white;  padding: 0.5rem 0.2rem 0.5rem 2rem; ">
                        <span th:utext="${user != null} ? '${user.coins} <img th:src=\'@{/images/coins.png}\' />'"></span>
                    </li>
                    <span th:utext="${user != null} ?
                            '<li class=\'nav-item\'><a class=\'nav-link\' href=\'../profil.html\' th:href=\'@{profil.html}\'>Mon dashboard</span></a></li>'
                            : '<li class=\'nav-item\'><a class=\'nav-link\' href=\'../login.html\' th:href=\'@{login}\'>Se connecter</a></li>'">someValue</span>

                </ul>
            </div>
        </div>
    </nav>
</body>
</html>