<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Achat packs OK</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{css/modern-business.css}" />
</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/header :: header"></nav>

<!-- Page Content -->
<div class="container">
    <span th:utext="${message}"></span>
</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer :: footer">
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>