<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/modern-business.css" rel="stylesheet">

  </head>

<body>
 <div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Composition</h1>
        </div>


        <br/>



            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="/img/messi.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>


             <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>


            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjsipbxh-DYAhURZlAKHRj0C9EQjRwIBw&url=http%3A%2F%2Fwww.eclypsia.com%2Ffr%2Ffifa17%2Factualites%2Fteam-of-the-year-toty-fifa-17-18978&psig=AOvVaw2IGtl1CBF2aw4CMoAz2lwC&ust=1516315033953181" class="img-responsive">
            </div>



        </div>
    </div>

    </body>

</html>
