<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FUT - Football Ultimate Team</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{css/modern-business.css}" />

  </head>

  <body>

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header"></nav>

    <!-- Carousel -->
    <!-- <header th:replace="fragments/carousel :: carousel"></header> -->

    <!-- Barre de recherche -->
    <div class="container" style="background-image: url(https://i.eurosport.com/2014/10/16/1333037-28654369-2560-1440.jpg); background-size: cover" >
        <div class="row" style="height:250px;">
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div id="custom-search-input" hidden="hidden">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Rechercher un joueur, un club, un autre participant... " />
                        <span class="input-group-btn">
                        <button  class="btn btn-danger" type="button" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:150px;">
        </div>
        <div class="offset-lg-5 col-lg-2">
          <a th:href="@{/preparation-match}" style="transform: scale(2)" class="btn btn-success" role="button">Jouer une partie</a>
        </div>
        <div class="row" style="height:150px;">
        </div>
    </div>



    <!-- Page Content -->
    <div class="container">

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <br />
          <h2>Bienvenue sur Football Ultimate Team</h2>
          <br /><img th:src="@{/images/etoo.jpg}" />

          <h5><br />Construis ton équipe avec tes joueurs de rêves et deviens le meilleur !</h5>
          <h5><a th:href="@{registration}">Inscris-toi</a> pour démarrer l'aventure !</h5>
          <h5><a th:href="@{achat-pack}">Achète des packs</a> si t'es en galère !</h5><br /><br />
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer">
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

</html>
