<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FUT - Football Ultimate Team</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{css/modern-business.css}" />

</head>

<!-- Navigation -->
<nav th:replace="fragments/header :: header"></nav>

<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form th:action="@{/login}" method="POST" class="form-signin">
                    <span th:utext="${successMessage}"></span>

                    <h1 class="my-4 centered">Se connecter</h1>
                    <br/>

                    <input type="text" id="email" name="email"  th:placeholder="Email" class="form-control" /> <br/>
                    <input type="password"  th:placeholder="'Mot de passe'" id="password" name="password" class="form-control" /> <br />

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20px; color: #FF1C19;">Email ou mot de passe invalide, veuillez réessayer</p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Se connecter" type="Submit" th:text="'Se connecter'"></button>
                </form>
                <br />
                <a th:href="@{/registration}" class="centered">Vous n'avez pas de compte ? Inscrivez-vous !</a>
                <br /><br />

            </div>
            <div class="col-sm-2"></div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments/footer :: footer">
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>