<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{css/modern-business.css}" />

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/header :: header"></nav>

<div class="container">
    <!-- Features Section -->
    <div class="row">


        <div class="col-lg-6">
            <h2>Mon profil</h2>
            <ul>
                <li>Pseudo : <strong th:utext="${user.pseudo}">Pseudo</strong></li>
                <li>Nombre de matchs joués : <span th:text="${user.matchsJoues}">Nb parties</span></li>
                <li>Nombre de victoires : <span th:text="${user.matchsGagnes}">Nb victoires</span></li>
                <li>Pourcentage de victoires : <span th:text="${user.matchsGagnes != 0} ? ${user.matchsJoues} / ${user.matchsGagnes} : '0.0%'">%  victoires</span>%</li>
                <li>Nombre de buts marqués/encaissés : <span th:text="${user.butMarques}">Nb victoires</span>/<span th:text="${user.butEncaisses}">Nb victoires</span></li>
            </ul>
            <a href="/composition.html" th:href="@{composition}" class="btn btn-info" role="button">Modifier mon equipe</a>
            <a href="/logout.html" th:href="@{logout}" class="btn btn-danger" role="button">Se déconnecter</a>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Mes packs</a>
                </li>
            </ul>
            <div class="container">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Qualité</th>
                            <th>Type</th>
                            <th>Ouvrir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pack : ${user.packs}">
                            <td><span th:text="${pack.packType}"></span></td>
                            <td><span th:text="${pack.packFormat}"></span></td>

                            <form action="#" th:action="@{/profil}" th:object="${player}" method="post">
                                <td><a href="#" class="btn btn-primary" role="button">Ouvrir</a></td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Mes joueurs</a>
                </li>
            </ul>
            <div class="container">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Qualité</th>
                            <th>Nation</th>
                            <th>Note globale</th>
                            <th>Position</th>
                            <th>Vendre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player : ${user.players}">
                            <td><span th:text="${player.nom}"></span></td>
                            <td><span th:text="${player.prenom}"></span></td>
                            <td><span th:text="${player.quality}"></span></td>
                            <td><span th:text="${player.nation}"></span></td>
                            <td><span th:text="${player.globalNote}"></span></td>
                            <td><span th:text="${player.fieldRole}"></span></td>
                            <td><a href="#" class="btn btn-primary" role="button"><span th:utext="${player.price} / 2 "><img src="/images/coins.png" th:src="@{/images/coins.png}"/></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragments/footer :: footer">
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>