<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FUT - Football Ultimate Team</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{css/modern-business.css}" />

</head>

<!-- Navigation -->
<nav th:replace="fragments/header :: header"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  fieldRole="form">
                <h1 class="my-4 centered">S'inscrire</h1>
                <br/>
                <input type="text" th:field="*{pseudo}" placeholder="Pseudo"
                       class="form-control" /> <label
                    th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"
                    class="validation-message"></label><br />
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label><br />
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label><br />
                        <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>


            </form>
            <br /><br />
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<footer th:replace="fragments/footer :: footer">
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>